<!DOCTYPE html>
<head>
    <title>Yakoyo | Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <center>
        <h1>How To Create A Dynamically Image Gallery Project</h1>
        <h2>Django Wed Framework</h2>
        <hr>
    </center>
    <div class="container">
        <div class="row">
    {% for results in imggal %}
    <div class="col-3" style="text-align: center;">
    <h3 style="color:steelblue;"> {{results.imgtitle}}</h3>
    <img src="{{results.image.url}}" height="150" width="160" alt="{{ results.imgtitle }}" title="{{results.imgtitle}}"/>
    <br>
    <b>{{results.imgdesc}}</b>
    <hr>
</div>
    {% endfor %}
    </div>
    </div>
    
</body>
</html>